html{
  overflow-x: hidden;
}
body{
  background: #FFFADA;
  overflow-x: hidden;
}
@font-face {
  font-family: 'BigFat';
  src: url('../public/fonts/Bigfat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Betm Bold';
  src: url('../public/fonts/BetmRounded-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Betm Regular';
  src: url('../public/fonts/BetmRounded-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Betm Medium';
  src: url('../public/fonts/BetmRounded-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 152px;
}
h1, h2, h3{
  margin-top: 0px;
  font-family: 'Bigfat';
  color: #FFFFFF;
  -webkit-text-stroke: .081rem #4B3A50; 
 
}
p, button, .betm-subtitle, a, li{
  font-family: 'Betm Medium';
}
.betm-subtitle{
  font-size: 40px;
}
p, a, li{
  font-size: 36px;
  color: #4B3A50;
}
li{
  margin-bottom: 15px;
}
button{
  font-size: 30px;
  color: white;
  padding: 10px 35px;
  background: #F178B6;
  box-shadow: 0px 4px 4px #4B3A50;  
  border-radius: 35.5px;
  transition: ease-in-out .2s;
}
button:hover{
  transform: scale(1.08);
}
button:active{
  box-shadow: 0px 1px 4px #4B3A50;  
}
h1{
  font-size: 70px;
}
h2{
  font-size: 35px;
  -webkit-text-stroke: .071rem #4B3A50; 

}
h3{
  font-size: 50px;

}
.floating{
  animation: floater 2s infinite;
}
.smallLogo{
  display: none;
}
@keyframes floater {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.cloudFloat{
  animation: cloudFloat 2s infinite;
}
@keyframes cloudFloat {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.fp-watermark{
  display: none;
}

*::-webkit-scrollbar {
  width: 10px !important;
}


*::-webkit-scrollbar-thumb {
  background-color: #4B3A50 !important;
  border-radius: 25px !important;
  border: 4px solid #4B3A50 !important;
}
@media only screen and (max-width: 639px){
  h1, h2, h3{
    -webkit-text-stroke: .08rem #4B3A50; 
  }
  h1{
    font-size: 35px;
    white-space: nowrap;
  }
  h2{
    font-size: 30px;
  
  }
  h3{
    font-size: 30px;
  
  }
  p, button, a, li{
    font-size: 20px;
  }

}
#fp-nav>ul>li>a>span{
  background: #F178B6 !important;
}
#nav{
  z-index: 10;
  background-color: transparent;
}


.navigation-component{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed;
}
.navigation-component > a{
  text-decoration: none;
}
.navigation-btn{
  transition: ease-in-out .2s;
}
.navigation-btn > img{
  width: 200px;
  margin-top: 5px;
}
.navigation-btn:hover{
  transform: scale(1.1);
}
.text-nav{
  margin-right: 50px;
}
.back-to-top {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #F178B6 ;
  color: #fff;
  border: none;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.back-to-top:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 847px){
  .logo-main{
    display: none;
  }
  .smallLogo{
    display: block;
  }
  .navigation-btn > img{
    width: 80px;
  }
}